body{
    background-image: url("https://images.unsplash.com/photo-1517856713891-215e57a13c0d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
       
}
div.vidcenter{
    text-align: center;
    margin-top: 1cm;
    padding-right: 150px;
}
.left{
    float: left;
    height: 300px;
    width: 150px;
    transform: rotate(20deg);
    margin-left: 2cm;
    
}
.right{
    float: right;
    height: 300px;
    width: 150px;
    transform: rotate(-20deg);
    margin-right: 3cm;
}
.lowerleft{
    float: left;
    height: 300px;
    width: 180px;
    transform: rotate(10deg);
   
}
.lowerright{
    float: right;
    height: 200px;
    width: 300px;
   /*padding-top: 4cm;
   padding-left: 100px;*/
    
}
.center{
    height: 150px;
   /* width: 300px;
    padding-left: 200px;*/
    
}
